@font-face {
    font-family: 'MyFont';
    src: url(font.ttf);
}

body {
    width: 100vw;
    height: 100dvh;
    margin: 0px;
    color: #dddddd;
    font-family: 'MyFont';
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu {
    position: fixed;
    width: 100vw;
    height: 70px;
    margin: 0px;
    padding: 0px;
    background-color: #6B0381;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 10px 0px #00000033;
    z-index: 2;
}
.menu h1 {
    margin: 0px;
    padding: 10px;
}
.menu details {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    cursor: pointer;
}
.menu details summary {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu details summary span {
    width: 100%;
    height: 3px;
    margin: auto 0px;
    padding: 0px;
    background-color: #dddddd;
    transition: all 0.4s;
}
.menu details[open] summary span:nth-of-type(1) {
    transform: translateY(10px) rotate(45deg);
}
.menu details[open] summary span:nth-of-type(2) {
    opacity: 0;
}
.menu details[open] summary span:nth-of-type(3) {
    transform: translateY(-10px) rotate(-45deg);
}
.menu details .content {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    background-color: #6B0381bb;
}
.menu details .content .list {
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-top: 70px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu details .content .list a {
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 0px;
    color: #dddddd;
    font-size: 15pt;
    text-align: center;
    text-decoration: none;
}

.background {
    width: 100%;
    height: 0px;
    margin: 0px;
    padding: 0px;

    background: linear-gradient(135deg, #1A0041, #6B0381),
                url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='0.25' numOctaves='5'/></filter><rect width='100%' height='100%' filter='url(%23noise)'/></svg>");
    background-repeat: repeat;
    background-size: 400% 400%;
    animation: gradientNoise 30s linear infinite;

    position: absolute;
    pointer-events: none;

    transform: translateZ(var(--zpos)) scale(var(--scale));
    z-index: -2;
}
@keyframes gradientNoise {
    0% { background-position: 0% 0%, 0% 0%; }
    50% { background-position: 100% 100%, 100% 100%; }
    100% { background-position: 0% 0%, 0% 0%; }
}


.backview {
    width: 100%;
    height: 100dvh;
    margin: 0px;
    padding: 0px;

    position: absolute;
    transform-style: preserve-3d;
    pointer-events: none;
    z-index: -1;

    display: none;
}
.frontview {
    width: 100%;
    height: 100dvh;
    margin: 0px;
    padding: 0px;

    position: absolute;
    transform-style: preserve-3d;
    pointer-events: none;
    z-index: 1;

    display: none;
}
.backview .image, .frontview .image {
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
    margin: 0px;
    padding: 0px;
    top: var(--ypos);
    left: 50%;

    filter: blur(calc(abs(var(--zpos) * 0.1)));

    position: absolute;
    pointer-events: none;

    transform: translate3d(
        calc(-50% + var(--xpos)),
        0,
        var(--zpos)
    )
    rotate(var(--rotate));
    z-index: var(--zpos);
}

.canvas {
    width: 100vw;
    height: 100dvh;
    margin: 0px;
    padding: 0px;

    position: relative;
    perspective: 100px;
    transform-style: preserve-3d;
    z-index: 0;

    overflow-y: scroll;
    overflow-x: hidden;
}

.view {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    transform-style: preserve-3d;
    z-index: 0;
}

.topview {
    width: 100vw;
    height: 100dvh;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(180deg, #1A004111, #1A004155);

    display: flex;
    justify-content: center;
    align-items: center;
}
.topview .content {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.topview .content h2 {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 50pt;
}
.topview .content p {
    width: 100%;
    height: auto;
    margin: 10px 0px;
    padding: 0px;
    text-align: center;
    font-size: 15pt;
}
.topview .content p a {
    color: #dddddd;
    text-decoration: none;
}

main {
    transform-style: preserve-3d;
}

.cardview {
    width: 80vw;
    height: auto;
    margin: 100px auto;
    padding: 15px;
    background-color: #482d7377;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 5px 10px 20px 0px #00000033, inset 1px 1px 5px 0px #482d7333, inset -2px -2px 5px 0px #00000033;

    animation: card-appear ease-out;
    animation-timeline: view();
    animation-range: cover;
}
@keyframes card-appear {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    75% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}
.cardview .title {
    width: calc(100% - 5px - 6px);
    height: auto;
    margin: 0px;
    padding: 5px;
    border-left: 3px solid #9844ff;

    display: flex;
    align-items: flex-end;
}
.cardview .title h2 {
    width: 80%;
    height: auto;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.cardview .title h3 {
    width: 20%;
    height: auto;
    margin: 0px 0px 0px auto;
    padding: 0px;
    padding-bottom: 2px;
    font-size: 10pt;
    text-align: right;
}
.cardview > p {
    width: calc(100% - 20px);
    height: auto;
    margin: 0px;
    margin-top: 5px;
    padding: 10px;
    font-size: 15pt;
    background-color: #1A004155;
    border-radius: 10px;

    box-shadow: inset 2px 2px 5px 0px #1A004133, inset -2px -2px 5px 0px #1A004133;
}
.cardview > p > a {
    color: #dddddd;
    text-decoration: none;
}
.cardview .buttons {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cardview .buttons button {
    width: min(200px, 100%);
    height: 50px;
    margin: 5px;
    padding: 0px;
    background-color: #ffffffff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 1px 1px 5px 0px #15054033, inset -2px -2px 5px 0px #15054033;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cardview .buttons button:active {
    width: min(200px, 100%);
    height: 50px;
    margin: 5px;
    padding: 0px;
    background-color: #ffffffbb;
    border: none;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px 0px #15054033;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cardview table {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 5px;
    padding: 10px;
    font-size: 15pt;
    background-color: #1A004155;
    border-radius: 10px;
    border-collapse: collapse;

    box-shadow: inset 2px 2px 5px 0px #1A004133, inset -2px -2px 5px 0px #1A004133;
}
.cardview table tr {
    border-bottom: 1px solid #dddddd33;
}
.cardview table tr:last-child {
    border-bottom: none;
}
.cardview table tr td {
    padding: 10px;
}
.cardview table tr td a {
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    color: #dddddd;
    text-decoration: none;
}
.cardview .list {
    width: calc(100% - 20px);
    height: 500px;
    margin: 0px;
    margin-top: 5px;
    padding: 10px;
    font-size: 15pt;
    border-radius: 10px;

    display: flex;
    overflow-y: hidden;
    overflow-x: visible;
    scroll-snap-type: x mandatory;
    gap: 20px;
}
.cardview .list .work {
    width: min(500px, 80vw - 20px - 30px);
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: #1A004155;
    border-radius: 10px;

    box-shadow: inset 2px 2px 5px 0px #1A004133, inset -2px -2px 5px 0px #1A004133;

    scroll-snap-align: center;
    flex-shrink: 0;
}
.cardview .list .work h4 {
    width: 100%;
    height: 10%;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cardview .list .work p {
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cardview .list .work .img {
    width: calc(100% - 20px);
    height: calc(50% - 20px);
    margin: 0px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cardview .list .work .img img {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    object-fit: contain;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: auto;
    margin: none;
    padding: none;
    background-color: #482d7377;
    box-shadow: 0px 0px 20px 0px #00000033, inset 0px 0px 2px 0px #dddddd33;
}
footer .content {
    width: min(100%, 1000px);
    height: auto;
    margin: auto;
    padding: none;
}
footer .content h2 {
    width: calc(100% - 20px);
    height: auto;
    margin: 0px;
    padding: 10px;
}
footer .content h2 a {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    color: #dddddd;
    text-align: left;
    text-decoration: none;
}
footer .content .urls {
    width: calc(100% - 20px);
    height: auto;
    margin: 0px;
    padding: 10px;

    display: flex;
    justify-content: flex-end;

    flex-wrap: wrap;
}
footer .content .urls a {
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: #dddddd;
    text-decoration: none;
}
footer .content p {
    width: calc(100% - 20px);
    height: auto;
    margin: 0px;
    padding: 10px;
    color: #dddddd;
    text-align: right;
    text-decoration: none;
}